.bunny-comic-grid{
    float: right;
    display: grid;
    width: 90%;
    min-height: 90%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas: "bunny-comic-hp-left bunny-comic-hp-right-top" "bunny-comic-hp-left bunny-comic-hp-right-bottom";
}
.bunny-comic-grid section{
    background-color: rgb(233, 227, 227);
}
.bunny-comic-hp-left { 
    grid-area: bunny-comic-hp-left; 
}

.bunny-comic-hp-right-bottom { 
    grid-area: bunny-comic-hp-right-bottom; 
}

.bunny-comic-hp-right-top { 
    grid-area: bunny-comic-hp-right-top; 
}